In [1]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve

In [2]:
retail_data = pd.read_excel('./DataSets/online-retail-data-set-from-uci-ml-repo/Online Retail.xlsx') # This may take a couple minutes

In [4]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
cleaned_retail = retail_data.loc[pd.isnull(retail_data.CustomerID) == False]

In [7]:
cleaned_retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [8]:
item_lookup = cleaned_retail[['StockCode', 'Description']].drop_duplicates() # Only get unique item/description pairs
item_lookup['StockCode'] = item_lookup.StockCode.astype(str) # Encode as strings for future lookup ease

In [9]:
item_lookup.head()

  StockCode                          Description
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1     71053                  WHITE METAL LANTERN
2    84406B       CREAM CUPID HEARTS COAT HANGER
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [10]:
cleaned_retail['CustomerID'] = cleaned_retail.CustomerID.astype(int) # Convert to int for customer ID
cleaned_retail = cleaned_retail[['StockCode', 'Quantity', 'CustomerID']] # Get rid of unnecessary info
grouped_cleaned = cleaned_retail.groupby(['CustomerID', 'StockCode']).sum().reset_index() # Group together
grouped_cleaned.Quantity.loc[grouped_cleaned.Quantity == 0] = 1 # Replace a sum of zero purchases with a one to
# indicate purchased
grouped_purchased = grouped_cleaned.query('Quantity > 0') # Only get customers where purchase totals were positive

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
grouped_purchased.head()

   CustomerID StockCode  Quantity
0       12346     23166         1
1       12347     16008        24
2       12347     17021        36
3       12347     20665         6
4       12347     20719        40

In [12]:
#Save table to csv
grouped_purchased.to_csv('online-retail.csv', 
#                sep='\t', 
                         index=False,
               header=True, 
#                encoding='latin-1', 
               columns=['CustomerID','StockCode','Quantity'
])
print('Saved to',grouped_purchased.dtypes)

Saved to CustomerID     int64
StockCode     object
Quantity       int64
dtype: object

In [13]:
df = pd.read_csv('online-retail.csv', header = 0)
df

        CustomerID StockCode  Quantity
0            12346     23166         1
1            12347     16008        24
2            12347     17021        36
3            12347     20665         6
4            12347     20719        40
5            12347     20780        12
6            12347     20782         6
7            12347     20966        10
8            12347     21035         6
9            12347     21041        12
10           12347     21064        30
11           12347     21154        10
12           12347     21171        12
13           12347     21265        24
14           12347     21578         6
15           12347     21636        12
16           12347     21731        72
17           12347     21791        48
18           12347     21832        12
19           12347     21975        48
20           12347     21976        48
21           12347     22131         6
22           12347     22134        12
23           12347     22195        48
24           12347     22196        72
25           12347     22212         6
26           12347     22252        12
27           12347     22371        32
28           12347     22372         8
29           12347     22374        16
...            ...       ...       ...
266693       18287     22758        12
266694       18287     22807         6
266695       18287     22865        12
266696       18287     22866        12
266697       18287     23076        48
266698       18287     23077        20
266699       18287     23078        48
266700       18287     23223        48
266701       18287     23264        48
266702       18287     23267        24
266703       18287     23269        36
266704       18287     23272        12
266705       18287     23274        12
266706       18287     23310        36
266707       18287     23376        48
266708       18287     23378        24
266709       18287     23445        20
266710       18287     35967        36
266711       18287     47421        48
266712       18287     47422        24
266713       18287     84584         6
266714       18287     84920         4
266715       18287     85173        48
266716       18287    72349B        60
266717       18287    72351A        24
266718       18287    72351B        24
266719       18287    84507C         6
266720       18287    85039A        96
266721       18287    85039B       120
266722       18287    85040A        48

[266723 rows x 3 columns]