In [1]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve

In [2]:
retail_data = pd.read_excel('./DataSets/online-retail-data-set-from-uci-ml-repo/Online Retail.xlsx') # This may take a couple minutes

In [3]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
cleaned_retail = retail_data.loc[pd.isnull(retail_data.CustomerID) == False]

In [6]:
cleaned_retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [7]:
item_lookup = cleaned_retail[['StockCode', 'Description']].drop_duplicates() # Only get unique item/description pairs
item_lookup['StockCode'] = item_lookup.StockCode.astype(str) # Encode as strings for future lookup ease

In [8]:
item_lookup.head()

  StockCode                          Description
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1     71053                  WHITE METAL LANTERN
2    84406B       CREAM CUPID HEARTS COAT HANGER
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [9]:
#Save table to csv

import os
path='E:\\python\\retail_rec_sys\\cvs_data_file'
item_lookup.to_csv(os.path.join(path,r'item_lookup.csv'),index=False,header=True,
                   columns=['StockCode','Description'])


print('Saved to \n',item_lookup.dtypes)

Saved to
 StockCode      object
Description    object
dtype: object

In [10]:
df = pd.read_csv('cvs_data_file/item_lookup.csv', header = 0)
df.head()

  StockCode                          Description
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1     71053                  WHITE METAL LANTERN
2    84406B       CREAM CUPID HEARTS COAT HANGER
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [11]:
cleaned_retail['CustomerID'] = cleaned_retail.CustomerID.astype(int) # Convert to int for customer ID
cleaned_retail = cleaned_retail[['StockCode', 'Quantity', 'CustomerID']] # Get rid of unnecessary info
grouped_cleaned = cleaned_retail.groupby(['CustomerID', 'StockCode']).sum().reset_index() # Group together
grouped_cleaned.Quantity.loc[grouped_cleaned.Quantity == 0] = 1 # Replace a sum of zero purchases with a one to
# indicate purchased
grouped_purchased = grouped_cleaned.query('Quantity > 0') # Only get customers where purchase totals were positive

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
grouped_purchased.head()

   CustomerID StockCode  Quantity
0       12346     23166         1
1       12347     16008        24
2       12347     17021        36
3       12347     20665         6
4       12347     20719        40

In [13]:
#Save table to csv

import os
path='E:\\python\\retail_rec_sys\\cvs_data_file'
grouped_purchased.to_csv(os.path.join(path,r'online-retail.csv'),index=False,header=True,
                   columns=['CustomerID','StockCode','Quantity'])

print('Saved to',grouped_purchased.dtypes)

Saved to CustomerID     int64
StockCode     object
Quantity       int64
dtype: object

In [14]:
df = pd.read_csv('cvs_data_file/online-retail.csv', header = 0)
df.head()

   CustomerID StockCode  Quantity
0       12346     23166         1
1       12347     16008        24
2       12347     17021        36
3       12347     20665         6
4       12347     20719        40

In [24]:
import numpy as np
from lightfm.datasets import fetch_movielens
from lightfm import LightFM

data = fetch_movielens(min_rating=4.0)

print("data",data)

#print training and testing data
print(repr(data['train']))
print(repr(data['test']))

model = LightFM(loss='warp')
model.fit(data['train'], epochs=30, num_threads=2)

def sample_recommendation(model, data, user_ids):
    n_users, n_items = data['train'].shape
    for user_id in user_ids:
        known_positives = data['item_labels'][data['train'].tocsr()[user_id].indices]
        scores = model.predict(user_id, np.arange(n_items))
        top_items = data['item_labels'][np.argsort(-scores)]

        #print out the results
        print("User %s" % user_id)
        print("   --Known Movies:")

        for x in known_positives[:3]:
            print("        %s" % x)

        print("   --Recommended Movies:")

        for x in top_items[:3]:
            print("        %s" % x)

sample_recommendation(model, data, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

data {'train': <943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 49906 stored elements in COOrdinate format>, 'test': <943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 5469 stored elements in COOrdinate format>, 'item_features': <1682x1682 sparse matrix of type '<class 'numpy.float32'>'
	with 1682 stored elements in Compressed Sparse Row format>, 'item_feature_labels': array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)', ...,
       'Sliding Doors (1998)', 'You So Crazy (1994)',
       'Scream of Stone (Schrei aus Stein) (1991)'], dtype=object), 'item_labels': array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)', ...,
       'Sliding Doors (1998)', 'You So Crazy (1994)',
       'Scream of Stone (Schrei aus Stein) (1991)'], dtype=object)}
<943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 49906 stored elements in COOrdinate format>
<943x1682 sparse matrix of type '<class 'numpy.int32'>'
	with 5469 stored elements in COOrdinate format>
User 1
   --Known Movies:
        Toy Story (1995)
        Postino, Il (1994)
        Birdcage, The (1996)
   --Recommended Movies:
        English Patient, The (1996)
        L.A. Confidential (1997)
        Fargo (1996)
User 2
   --Known Movies:
        Return of the Jedi (1983)
        Event Horizon (1997)
        Schindler's List (1993)
   --Recommended Movies:
        Contact (1997)
        L.A. Confidential (1997)
        English Patient, The (1996)
User 3
   --Known Movies:
        Seven (Se7en) (1995)
        Contact (1997)
        Starship Troopers (1997)
   --Recommended Movies:
        Scream (1996)
        Contact (1997)
        Cop Land (1997)
User 4
   --Known Movies:
        Rumble in the Bronx (1995)
        Batman Forever (1995)
        To Wong Foo, Thanks for Everything! Julie Newmar (1995)
   --Recommended Movies:
        Empire Strikes Back, The (1980)
        Monty Python and the Holy Grail (1974)
        Raiders of the Lost Ark (1981)
User 5
   --Known Movies:
        Toy Story (1995)
        Babe (1995)
        Dead Man Walking (1995)
   --Recommended Movies:
        Citizen Kane (1941)
        Casablanca (1942)
        Vertigo (1958)
User 6
   --Known Movies:
        Get Shorty (1995)
        Twelve Monkeys (1995)
        Babe (1995)
   --Recommended Movies:
        Raiders of the Lost Ark (1981)
        Silence of the Lambs, The (1991)
        Alien (1979)
User 7
   --Known Movies:
        Professional, The (1994)
        Pulp Fiction (1994)
        Jurassic Park (1993)
   --Recommended Movies:
        Raiders of the Lost Ark (1981)
        Star Wars (1977)
        Silence of the Lambs, The (1991)
User 8
   --Known Movies:
        Twelve Monkeys (1995)
        Star Wars (1977)
        Evil Dead II (1987)
   --Recommended Movies:
        Star Wars (1977)
        Return of the Jedi (1983)
        Contact (1997)
User 9
   --Known Movies:
        Toy Story (1995)
        Get Shorty (1995)
        Dead Man Walking (1995)
   --Recommended Movies:
        Godfather, The (1972)
        One Flew Over the Cuckoo's Nest (1975)
        Silence of the Lambs, The (1991)
User 10
   --Known Movies:
        Babe (1995)
        Dead Man Walking (1995)
        Mr. Holland's Opus (1995)
   --Recommended Movies:
        Star Wars (1977)
        Raiders of the Lost Ark (1981)
        Return of the Jedi (1983)

In [26]:
data

{'train': <943x1682 sparse matrix of type '<class 'numpy.float32'>'
 	with 19048 stored elements in COOrdinate format>,
 'test': <943x1682 sparse matrix of type '<class 'numpy.int32'>'
 	with 2153 stored elements in COOrdinate format>,
 'item_features': <1682x1682 sparse matrix of type '<class 'numpy.float32'>'
 	with 1682 stored elements in Compressed Sparse Row format>,
 'item_feature_labels': array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)', ...,
        'Sliding Doors (1998)', 'You So Crazy (1994)',
        'Scream of Stone (Schrei aus Stein) (1991)'], dtype=object),
 'item_labels': array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)', ...,
        'Sliding Doors (1998)', 'You So Crazy (1994)',
        'Scream of Stone (Schrei aus Stein) (1991)'], dtype=object)}