In [1]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve

In [2]:
retail_data = pd.read_excel('./DataSets/online-retail-data-set-from-uci-ml-repo/Online Retail.xlsx') # This may take a couple minutes

In [3]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
cleaned_retail = retail_data.loc[pd.isnull(retail_data.CustomerID) == False]

In [6]:
cleaned_retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [7]:
item_lookup = cleaned_retail[['StockCode', 'Description']].drop_duplicates() # Only get unique item/description pairs
item_lookup['StockCode'] = item_lookup.StockCode.astype(str) # Encode as strings for future lookup ease

In [8]:
item_lookup.head()

  StockCode                          Description
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1     71053                  WHITE METAL LANTERN
2    84406B       CREAM CUPID HEARTS COAT HANGER
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [9]:
cleaned_retail['CustomerID'] = cleaned_retail.CustomerID.astype(int) # Convert to int for customer ID
cleaned_retail = cleaned_retail[['StockCode', 'Quantity', 'CustomerID']] # Get rid of unnecessary info
grouped_cleaned = cleaned_retail.groupby(['CustomerID', 'StockCode']).sum().reset_index() # Group together
grouped_cleaned.Quantity.loc[grouped_cleaned.Quantity == 0] = 1 # Replace a sum of zero purchases with a one to
# indicate purchased
grouped_purchased = grouped_cleaned.query('Quantity > 0') # Only get customers where purchase totals were positive

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
grouped_purchased.head()

   CustomerID StockCode  Quantity
0       12346     23166         1
1       12347     16008        24
2       12347     17021        36
3       12347     20665         6
4       12347     20719        40

In [45]:
#Save table to csv
grouped_purchased.to_csv('online-retail.csv', 
#                sep='\t', 
                         index=False,
               header=True, 
#                encoding='latin-1', 
               columns=['CustomerID','StockCode','Quantity'
])
print('Saved to',grouped_purchased.dtypes)

Saved to CustomerID     int64
StockCode     object
Quantity       int64
dtype: object

In [48]:
grouped_purchased = pd.read_csv('online-retail.csv', header = 0)
grouped_purchased

        CustomerID StockCode  Quantity
0            12346     23166         1
1            12347     16008        24
2            12347     17021        36
3            12347     20665         6
4            12347     20719        40
5            12347     20780        12
6            12347     20782         6
7            12347     20966        10
8            12347     21035         6
9            12347     21041        12
10           12347     21064        30
11           12347     21154        10
12           12347     21171        12
13           12347     21265        24
14           12347     21578         6
15           12347     21636        12
16           12347     21731        72
17           12347     21791        48
18           12347     21832        12
19           12347     21975        48
20           12347     21976        48
21           12347     22131         6
22           12347     22134        12
23           12347     22195        48
24           12347     22196        72
25           12347     22212         6
26           12347     22252        12
27           12347     22371        32
28           12347     22372         8
29           12347     22374        16
...            ...       ...       ...
266693       18287     22758        12
266694       18287     22807         6
266695       18287     22865        12
266696       18287     22866        12
266697       18287     23076        48
266698       18287     23077        20
266699       18287     23078        48
266700       18287     23223        48
266701       18287     23264        48
266702       18287     23267        24
266703       18287     23269        36
266704       18287     23272        12
266705       18287     23274        12
266706       18287     23310        36
266707       18287     23376        48
266708       18287     23378        24
266709       18287     23445        20
266710       18287     35967        36
266711       18287     47421        48
266712       18287     47422        24
266713       18287     84584         6
266714       18287     84920         4
266715       18287     85173        48
266716       18287    72349B        60
266717       18287    72351A        24
266718       18287    72351B        24
266719       18287    84507C         6
266720       18287    85039A        96
266721       18287    85039B       120
266722       18287    85040A        48

[266723 rows x 3 columns]

In [11]:
customers = list(np.sort(grouped_purchased.CustomerID.unique())) # Get our unique customers
products = list(grouped_purchased.StockCode.unique()) # Get our unique products that were purchased
quantity = list(grouped_purchased.Quantity) # All of our purchases

rows = grouped_purchased.CustomerID.astype('category', categories = customers).cat.codes 
# Get the associated row indices
cols = grouped_purchased.StockCode.astype('category', categories = products).cat.codes 
# Get the associated column indices
purchases_sparse = sparse.csr_matrix((quantity, (rows, cols)), shape=(len(customers), len(products)))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  import sys

In [12]:
purchases_sparse

<4338x3664 sparse matrix of type '<class 'numpy.int32'>'
	with 266723 stored elements in Compressed Sparse Row format>

In [13]:
matrix_size = purchases_sparse.shape[0]*purchases_sparse.shape[1] # Number of possible interactions in the matrix
num_purchases = len(purchases_sparse.nonzero()[0]) # Number of items interacted with
sparsity = 100*(1 - (num_purchases/matrix_size))
sparsity

98.32190920694744

In [14]:
import random

In [15]:
def make_train(ratings, pct_test = 0.2):
    '''
    This function will take in the original user-item matrix and "mask" a percentage of the original ratings where a
    user-item interaction has taken place for use as a test set. The test set will contain all of the original ratings, 
    while the training set replaces the specified percentage of them with a zero in the original ratings matrix. 
    
    parameters: 
    
    ratings - the original ratings matrix from which you want to generate a train/test set. Test is just a complete
    copy of the original set. This is in the form of a sparse csr_matrix. 
    
    pct_test - The percentage of user-item interactions where an interaction took place that you want to mask in the 
    training set for later comparison to the test set, which contains all of the original ratings. 
    
    returns:
    
    training_set - The altered version of the original data with a certain percentage of the user-item pairs 
    that originally had interaction set back to zero.
    
    test_set - A copy of the original ratings matrix, unaltered, so it can be used to see how the rank order 
    compares with the actual interactions.
    
    user_inds - From the randomly selected user-item indices, which user rows were altered in the training data.
    This will be necessary later when evaluating the performance via AUC.
    '''
    test_set = ratings.copy() # Make a copy of the original set to be the test set. 
    test_set[test_set != 0] = 1 # Store the test set as a binary preference matrix
    training_set = ratings.copy() # Make a copy of the original data we can alter as our training set. 
    nonzero_inds = training_set.nonzero() # Find the indices in the ratings data where an interaction exists
    nonzero_pairs = list(zip(nonzero_inds[0], nonzero_inds[1])) # Zip these pairs together of user,item index into list
    random.seed(0) # Set the random seed to zero for reproducibility
    num_samples = int(np.ceil(pct_test*len(nonzero_pairs))) # Round the number of samples needed to the nearest integer
    samples = random.sample(nonzero_pairs, num_samples) # Sample a random number of user-item pairs without replacement
    user_inds = [index[0] for index in samples] # Get the user row indices
    item_inds = [index[1] for index in samples] # Get the item column indices
    training_set[user_inds, item_inds] = 0 # Assign all of the randomly chosen user-item pairs to zero
    training_set.eliminate_zeros() # Get rid of zeros in sparse array storage after update to save space
    return training_set, test_set, list(set(user_inds)) # Output the unique list of user rows that were altered

In [16]:
product_train, product_test, product_users_altered = make_train(purchases_sparse, pct_test = 0.2)

In [17]:
product_train

<4338x3664 sparse matrix of type '<class 'numpy.int32'>'
	with 213378 stored elements in Compressed Sparse Row format>

In [18]:
import implicit

In [19]:
alpha = 15
user_vecs, item_vecs = implicit.alternating_least_squares((product_train*alpha).astype('double'), 
                                                          factors=20, 
                                                          regularization = 0.1, 
                                                         iterations = 50)

This method is deprecated. Please use the AlternatingLeastSquares class instead
WARNING:root:Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading
100%|███████████████████████████████████████████████████████████████████████████████████████████████| 50.0/50 [00:07<00:00,  7.03it/s]

In [20]:
user_vecs, item_vecs

(array([[ 0.00107313, -0.00038309,  0.00118668, ..., -0.00021333,
          0.0032229 , -0.00278685],
        [-0.00719779,  0.00958392,  0.00251218, ..., -0.0550945 ,
         -0.02595528, -0.01121988],
        [ 0.01077161,  0.01227179, -0.01615043, ..., -0.00998237,
         -0.00834226,  0.02423379],
        ...,
        [-0.01846134,  0.00858874, -0.00874498, ...,  0.01941826,
          0.0133409 ,  0.01275747],
        [ 0.02052702,  0.01425306,  0.02463593, ...,  0.01241553,
          0.00701805, -0.01119717],
        [ 0.0010097 ,  0.02953926,  0.01637572, ...,  0.01523498,
          0.01624365,  0.04089215]], dtype=float32),
 array([[ 7.1789217e+00, -6.0975796e-01,  8.9867392e+00, ...,
         -1.1314420e+00,  1.2183795e+01, -3.8439510e+00],
        [ 1.7158909e+00,  5.8552575e+00,  4.5418396e+00, ...,
          2.1629393e+00,  1.8325371e+00,  1.0218949e+01],
        [ 4.2297525e+00,  1.7070702e+00,  7.2617884e+00, ...,
          4.9981990e+00,  2.4395854e+00,  1.1577188e+01],
        ...,
        [ 0.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
          0.0000000e+00,  0.0000000e+00,  0.0000000e+00],
        [-6.0031223e-01, -8.9554137e-01, -9.2458540e-01, ...,
         -9.6834993e-01, -5.5856097e-01, -1.8175809e-01],
        [-4.8075393e-02,  5.7956865e-03,  5.5251032e-02, ...,
          2.6332024e-01,  3.7352017e-01,  2.5135106e-01]], dtype=float32))

In [21]:
from sklearn import metrics

In [22]:
def auc_score(predictions, test):
    '''
    This simple function will output the area under the curve using sklearn's metrics. 
    
    parameters:
    
    - predictions: your prediction output
    
    - test: the actual target result you are comparing to
    
    returns:
    
    - AUC (area under the Receiver Operating Characterisic curve)
    '''
    fpr, tpr, thresholds = metrics.roc_curve(test, predictions)
    return metrics.auc(fpr, tpr)

In [23]:
def calc_mean_auc(training_set, altered_users, predictions, test_set):
    '''
    This function will calculate the mean AUC by user for any user that had their user-item matrix altered. 
    
    parameters:
    
    training_set - The training set resulting from make_train, where a certain percentage of the original
    user/item interactions are reset to zero to hide them from the model 
    
    predictions - The matrix of your predicted ratings for each user/item pair as output from the implicit MF.
    These should be stored in a list, with user vectors as item zero and item vectors as item one. 
    
    altered_users - The indices of the users where at least one user/item pair was altered from make_train function
    
    test_set - The test set constucted earlier from make_train function
    
    
    
    returns:
    
    The mean AUC (area under the Receiver Operator Characteristic curve) of the test set only on user-item interactions
    there were originally zero to test ranking ability in addition to the most popular items as a benchmark.
    '''
    
    
    store_auc = [] # An empty list to store the AUC for each user that had an item removed from the training set
    popularity_auc = [] # To store popular AUC scores
    pop_items = np.array(test_set.sum(axis = 0)).reshape(-1) # Get sum of item iteractions to find most popular
    item_vecs = predictions[1]
    for user in altered_users: # Iterate through each user that had an item altered
        training_row = training_set[user,:].toarray().reshape(-1) # Get the training set row
        zero_inds = np.where(training_row == 0) # Find where the interaction had not yet occurred
        # Get the predicted values based on our user/item vectors
        user_vec = predictions[0][user,:]
        pred = user_vec.dot(item_vecs).toarray()[0,zero_inds].reshape(-1)
        # Get only the items that were originally zero
        # Select all ratings from the MF prediction for this user that originally had no iteraction
        actual = test_set[user,:].toarray()[0,zero_inds].reshape(-1) 
        # Select the binarized yes/no interaction pairs from the original full data
        # that align with the same pairs in training 
        pop = pop_items[zero_inds] # Get the item popularity for our chosen items
        store_auc.append(auc_score(pred, actual)) # Calculate AUC for the given user and store
        popularity_auc.append(auc_score(pop, actual)) # Calculate AUC using most popular and score
    # End users iteration
    
    return float('%.3f'%np.mean(store_auc)), float('%.3f'%np.mean(popularity_auc))  
   # Return the mean AUC rounded to three decimal places for both test and popularity benchmark

In [24]:
calc_mean_auc(product_train, product_users_altered, 
              [sparse.csr_matrix(user_vecs), sparse.csr_matrix(item_vecs.T)], product_test)
# AUC for our recommender system

(0.871, 0.814)

In [25]:
customers_arr = np.array(customers) # Array of customer IDs from the ratings matrix
products_arr = np.array(products) # Array of product IDs from the ratings matrix

In [26]:
def get_items_purchased(customer_id, mf_train, customers_list, products_list, item_lookup):
    '''
    This just tells me which items have been already purchased by a specific user in the training set. 
    
    parameters: 
    
    customer_id - Input the customer's id number that you want to see prior purchases of at least once
    
    mf_train - The initial ratings training set used (without weights applied)
    
    customers_list - The array of customers used in the ratings matrix
    
    products_list - The array of products used in the ratings matrix
    
    item_lookup - A simple pandas dataframe of the unique product ID/product descriptions available
    
    returns:
    
    A list of item IDs and item descriptions for a particular customer that were already purchased in the training set
    '''
    cust_ind = np.where(customers_list == customer_id)[0][0] # Returns the index row of our customer id
    purchased_ind = mf_train[cust_ind,:].nonzero()[1] # Get column indices of purchased items
    prod_codes = products_list[purchased_ind] # Get the stock codes for our purchased items
    return item_lookup.loc[item_lookup.StockCode.isin(prod_codes)]

In [27]:
customers_arr[:5]

array([12346, 12347, 12348, 12349, 12350], dtype=int64)

In [28]:
get_items_purchased(12346, product_train, customers_arr, products_arr, item_lookup)

      StockCode                     Description
61619     23166  MEDIUM CERAMIC TOP STORAGE JAR

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
def rec_items(customer_id, mf_train, user_vecs, item_vecs, customer_list, item_list, item_lookup, num_items = 10):
    '''
    This function will return the top recommended items to our users 
    
    parameters:
    
    customer_id - Input the customer's id number that you want to get recommendations for
    
    mf_train - The training matrix you used for matrix factorization fitting
    
    user_vecs - the user vectors from your fitted matrix factorization
    
    item_vecs - the item vectors from your fitted matrix factorization
    
    customer_list - an array of the customer's ID numbers that make up the rows of your ratings matrix 
                    (in order of matrix)
    
    item_list - an array of the products that make up the columns of your ratings matrix
                    (in order of matrix)
    
    item_lookup - A simple pandas dataframe of the unique product ID/product descriptions available
    
    num_items - The number of items you want to recommend in order of best recommendations. Default is 10. 
    
    returns:
    
    - The top n recommendations chosen based on the user/item vectors for items never interacted with/purchased
    '''
    
    cust_ind = np.where(customer_list == customer_id)[0][0] # Returns the index row of our customer id
    pref_vec = mf_train[cust_ind,:].toarray() # Get the ratings from the training set ratings matrix
    pref_vec = pref_vec.reshape(-1) + 1 # Add 1 to everything, so that items not purchased yet become equal to 1
    pref_vec[pref_vec > 1] = 0 # Make everything already purchased zero
    rec_vector = user_vecs[cust_ind,:].dot(item_vecs.T) # Get dot product of user vector and all item vectors
    # Scale this recommendation vector between 0 and 1
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0] 
    recommend_vector = pref_vec*rec_vector_scaled 
    # Items already purchased have their recommendation multiplied by zero
    product_idx = np.argsort(recommend_vector)[::-1][:num_items] # Sort the indices of the items into order 
    # of best recommendations
    rec_list = [] # start empty list to store items
    for index in product_idx:
        code = item_list[index]
        rec_list.append([code, item_lookup.Description.loc[item_lookup.StockCode == code].iloc[0]]) 
        # Append our descriptions to the list
    codes = [item[0] for item in rec_list]
    descriptions = [item[1] for item in rec_list]
    final_frame = pd.DataFrame({'StockCode': codes, 'Description': descriptions}) # Create a dataframe 
    return final_frame[['StockCode', 'Description']] # Switch order of columns around

In [31]:
rec_items(12346, product_train, user_vecs, item_vecs, customers_arr, products_arr, item_lookup,
                       num_items = 10)

  StockCode                          Description
0     23167       SMALL CERAMIC TOP STORAGE JAR
1     23165        LARGE CERAMIC TOP STORAGE JAR
2     22962                JAM JAR WITH PINK LID
3     22963               JAM JAR WITH GREEN LID
4     23295     SET OF 12 MINI LOAF BAKING CASES
5     23294     SET OF 6 SNACK LOAF BAKING CASES
6     23296       SET OF 6 TEA TIME BAKING CASES
7     23297  SET 40 HEART SHAPE PETIT FOUR CASES
8     23286             BLUE VINTAGE SPOT BEAKER
9     23309  SET OF 60 I LOVE LONDON CAKE CASES

In [32]:
get_items_purchased(12353, product_train, customers_arr, products_arr, item_lookup)

     StockCode                         Description
2148     37446  MINI CAKE STAND WITH HANGING CAKES
2149     37449  CERAMIC CAKE STAND + HANGING CAKES
4859     37450   CERAMIC CAKE BOWL + HANGING CAKES
5108     22890  NOVELTY BISCUITS CAKE STAND 3 TIER

In [33]:
rec_items(12353, product_train, user_vecs, item_vecs, customers_arr, products_arr, item_lookup)

  StockCode                          Description
0     22055   MINI CAKE STAND  HANGING STRAWBERY
1     37447    CERAMIC CAKE DESIGN SPOTTED PLATE
2     22059        CERAMIC STRAWBERRY DESIGN MUG
3     22063  CERAMIC BOWL WITH STRAWBERRY DESIGN
4     21231       SWEETHEART CERAMIC TRINKET BOX
5     37448      CERAMIC CAKE DESIGN SPOTTED MUG
6     72741                GRAND CHOCOLATECANDLE
7     22057      CERAMIC PLATE STRAWBERRY DESIGN
8     22645  CERAMIC HEART FAIRY CAKE MONEY BANK
9     22649         STRAWBERRY FAIRY CAKE TEAPOT

In [34]:
get_items_purchased(12361, product_train, customers_arr, products_arr, item_lookup)

      StockCode                          Description
34        22326  ROUND SNACK BOXES SET OF4 WOODLAND
35        22629                  SPACEBOY LUNCH BOX
37        22631             CIRCUS PARADE LUNCH BOX
93        20725              LUNCH BAG RED RETROSPOT
369       22382           LUNCH BAG SPACEBOY DESIGN
547       22328   ROUND SNACK BOXES SET OF 4 FRUITS
549       22630                 DOLLY GIRL LUNCH BOX
1241      22555            PLASTERS IN TIN STRONGMAN
58132     20725                 LUNCH BAG RED SPOTTY

In [35]:
rec_items(12361, product_train, user_vecs, item_vecs, customers_arr, products_arr, item_lookup,
                       num_items = 10)

  StockCode                  Description
0     22662  LUNCH BAG DOLLY GIRL DESIGN
1     20726           LUNCH BAG WOODLAND
2     20727      LUNCH BAG  BLACK SKULL.
3     20728          LUNCH BAG CARS BLUE
4     23206       LUNCH BAG APPLE DESIGN
5     20719       WOODLAND CHARLOTTE BAG
6     23209    LUNCH BAG DOILEY PATTERN
7     22383      LUNCH BAG SUKI  DESIGN
8     22384      LUNCH BAG PINK POLKADOT
9     23207    LUNCH BAG ALPHABET DESIGN